html,
body,
h1,
h2,
h3,
h4,
h5,
input,
button,
ul,
li,
a,
p {
  background: transparent;
  list-style: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  margin: 0;
  border: 0;
  padding: 0;
}

/* Global Setting */

/* Import custom font Cocogoose for use in headers */
@font-face {
  font-family: Cocogoose;
  src: url("../assets/fonts/cocogoose/Cocogoose Pro-trial.ttf");
}

/* Set default font for entire body to Lato */
body {
  font-family: "Lato", sans-serif;
}

/* Headers use custom font Cocogoose, with font-weight set to bold and background-size set to 100% */
h1 {
  font-size: 5vw;
  font-family: "Cocogoose", sans-serif;
  font-weight: bold;
  background-size: 100%;
  color: transparent;
}

h2 {
  font-family: "Cocogoose", sans-serif;
  font-size: 5vw;
}

h3 {
  font-size: 5vw;
}

/* Set width of all images to 100px */
img {
  width: 100px;
}

/* Set font-size for class 'tickets-title' to 20px */
.tickets-title {
  font-size: 20px;
}

/* Change cursor to pointer when hovering over links and change color when active */
a {
  cursor: pointer;
}

a:hover {
  color: #ec5242;
}

a:active {
  color: #ec5242;
}

/* Set color and font-weight for all paragraphs */
p {
  color: #272a31;
  font-weight: 100;
}

/* The row class is used to set the left and right margins to 0 */
.row {
  margin-left: 0; /* Remove any left margin */
  margin-right: 0; /* Remove any right margin */
}

/* The cta class is used to set the font size for call-to-action elements */
.cta {
  font-size: 1.2rem; /* Increase the font size for better visibility */
}

/* The hr-title class is used to set the border style for horizontal rule elements with a title */
.hr-title {
  border: 1px solid #ec5242; /* Use a red color for the border */
  width: 10%;
}

/* The hr-speakers class is used to set the border style for horizontal rule elements with speaker information */
.hr-speakers {
  border: 1px solid #3c3e43; /* Use a dark gray color for the border */
  width: 10%; /* Set the width of the border to 10% of the container */
}

/* The section-title class is used to set the font size for section titles */
.section-title {
  font-size: 1.5rem; /* Increase the font size for better visibility */
}

/* The section-subtitle class is used to set the font size for section subtitles */
.section-subtitle {
  font-size: 1.6rem; /* Increase the font size for better visibility */
}

/* The logo class is used to add padding to the logo container */
.logo {
  padding-top: 4px; /* Add 4px padding to the top of the logo container */
  padding-bottom: 4px; /* Add 4px padding to the bottom of the logo container */
}

/* The logo img class is used to add a border and border radius to the logo image */
.logo img {
  border: 2px solid #000; /* Add a 2px solid black border to the logo image */
  border-radius: 8px; /* Add a 8px border radius to the logo image for a rounded appearance */
}

/* slider section */
.image-effect {
  background-image:
    linear-gradient(
      rgba(236, 82, 66, 0.5),
      rgba(236, 82, 66, 0.5)
    ),
    url("https://images.unsplash.com/photo-1570126646281-5ec88111777f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=725&q=80");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.nav-small {
  font-size: 3rem;
  top: 15%;
  left: 5%;
}

.campaign {
  border: 5px solid #ec5242;
}

.slider {
  background: #f8f8f8;
  background-image:
    linear-gradient(
      rgba(248, 248, 248, 0.7),
      rgba(248, 248, 248, 1)
    ),
    url("https://images.unsplash.com/photo-1570126646281-5ec88111777f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=725&q=80");
  background-size: cover;
}

.slider-about {
  background: #f8f8f8;
  background-image:
    linear-gradient(
      rgba(248, 248, 248, 0.7),
      rgba(248, 248, 248, 1)
    );
  background-size: cover;
}

.red {
  color: #ec5242;
}

.bg-red {
  background-color: #ec5242;
}

.bg-dark-light-custom {
  background-color: rgba(143, 143, 143, 0.5);
}

.bg-dark-custom {
  background-color: #272a31;
}

.welcome-description {
  background-color: #f7f7f7;
  border: 2px solid #fff;
}

/* main-program section */

.main-program {
  background:
    linear-gradient(
      rgba(40, 43, 50, 0.9),
      rgba(40, 43, 50, 0.9)
    ),
    url("https://images.assetsdelivery.com/compings_v2/floralset/floralset1905/floralset190500161.jpg");
  background-size: cover;
}

.main-program i {
  font-size: 3rem;
}

.program-block:hover {
  border: 2px solid #fff;
}

/* speakers section */

.speaker-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* partner section */

.partners-section {
  background-color: #414246;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.partners figure {
  margin: 2rem;
}

.partners img {
  filter: contrast(5);
}

@media screen and (max-width: 767px) {
  .partners {
    width: 90%;
  }

  .program .section-subtitle {
    font-size: 1.2rem;
    text-align: center;
  }

  .program i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 320px) {
  tr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  td {
    display: block;
    width: 50%;
    text-align: center;
  }

  td[colspan] {
    width: 100%;
  }

  th {
    width: 100%;
  }

  .hr-speakers {
    display: none;
  }

  .speakers .row,
  #demo .row {
    display: block;
    text-align: center;
  }

  .speaker-block {
    margin: auto;
  }
}

.previous-section:nth-child(1) {
  background-image:
    linear-gradient(
      rgba(236, 82, 66, 0.5),
      rgba(236, 82, 66, 0.5)
    ),
    url("https://images.unsplash.com/photo-1585494514453-b8f1d7f87e0c?ixlib=rb-1.2.1&auto=format&fit=crop&w=890&q=80");
  background-size: cover;
}

.previous-section:nth-child(2) {
  background-image:
    linear-gradient(
      rgba(236, 82, 66, 0.5),
      rgba(236, 82, 66, 0.5)
    ),
    url("https://images.unsplash.com/photo-1585494514453-b8f1d7f87e0c?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
}

/* tickets section */

.ticket-bg {
  background:
    url("https://thumbs.dreamstime.com/z/postcard-vector-post-stamp-airmail-frame-postcard-blue-red-stripes-pattern-mockup-template-envelope-white-background-185936206.jpg")
    no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .step-text {
    width: 50%;
    margin: auto;
  }

  .description-welcome {
    width: 50%;
  }

  .slider-about .description-welcome {
    width: 50%;
    margin: auto;
  }

  .logo-info figure {
    width: 50%;
    margin: auto;
  }

  .program-section .subtitle {
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .program-section i {
    font-size: 1.5rem;
  }

  .program-block-parent {
    margin: 2px;
  }
}

#footer {
  display: none;
}

@media screen and (min-width: 768px) {
  #footer {
    height: 100%;
    background: #fff;
    padding: 2rem 20%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2rem;
  }

  #footer img {
    height: 62px;
  }

  #footer p,
  #footer span {
    color: #3c3b45;
    font-weight: 700;
    font-size: 10px;
  }
}
